<!DOCTYPE html>
<html>
<head>
    <title>facebook logout</title>
</head>
<body>
 <h1> <%= displayName %> </h1>
 <h2> <%= count %> times </h2>
 <button onclick="location.href='/auth/facebook/logout'">Facebook logout</button>
</body>
</html>