doctype html
html
    head
        title Facebook Login JavaScript Example
        meta(charset='UTF-8')
    body
        button(onclick="location.href='/auth/facebook'") Facebook login
        button(onclick="location.href='/logout'") logout
        if user
            p Hello #{user}! You #{count} times!
        #status
